body.poshelnahuiscroll {
    overflow: hidden;
} 
html.poshelnahuiscroll {
    overflow: hidden;
}

/* Header */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
}

header hr{
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
    background-color: #000000;
}

.header_h1{
    visibility: visible;
    margin-left: 3em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
}

.header_h1.active{
    visibility: hidden;
}





/*button-header-open-navbur*/


.header_burger{
    visibility: visible;
    margin-left: 5em;
    position: relative;
    width: 1.5em;
    height: 1.2em;
    cursor: pointer;

}

.header_burger:before,
.header_burger:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: black;
    left: 0;
}

.header_burger:before{
    top: 0;
}
.header_burger:after{
    bottom: 0;
}

.header_burger span{
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.2em;
    top: 50%;
    transform: translateY(-50%);
}



/*button-nav-active*/
.header_burger.active{
    visibility: hidden;
}

/*button-closer-nav*/

.nav_header{
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}

.close_header_burger{
    
    align-items: center;
    position: relative;
    width: 1.5em;
    height: 1.2em;
    cursor: pointer;
}

.close_header_burger:before,.close_header_burger:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: black;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.close_header_burger:before{
    transform: rotate(45deg);
}
.close_header_burger:after{
    transform: rotate(-45deg);
}







/*navbar-ul-list*/


.bg_menu{
    background-color: #000000b7;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.5s ease 0s;
}

.bg_menu.active{
    left: 0;
   
}

.header_menu{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;  
}


.menu_logo a{
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}

.header_list{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3em;
    height: 30vh;

}

.header_list li{
    list-style: none;
}

.header_link{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
}

.header_link:hover{
    color: orange;
}





/* ADAPTATION */


@media screen and (max-width: 768px) {
    .header_h1{
        margin-left: 1.5em;
        
    }

    
    .header_burger{
        margin-left: 3em;
    }
    .header_menu{
        width: 100%;
        background-color: #d9d9d900;
    }
    .header_list{
        font-size: 1.5em;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        height: 40vh;
    }

    .header_link{
        font-size: 1.2em;
        color: white;
    }

    .close_header_burger:before,.close_header_burger:after{
        background-color: white;
    }
    

    .header_menu{
        width: 100%;
        height: 100vh;
    
    }

    .nav_header{
        width: 100%;
        
    }

    .menu_logo a{
        color: white;
        margin: 0;
        font-size: 2em;
        font-weight: bold;
        padding-right: 3em;
    }


    .close_header_burger{
        width: 2em;
        height: 1.2em;
    }

    
    
}

